BODY { 
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
 background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
  color: #000000;
  margin: 0px;
}
TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  color: #000000;
}

.intestazioneContainer {
   height: 200px;
  border: solid 1px white;
  position: relative;
/* background: #f2f5f6; Old browsers */
/* background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); FF3.6+ */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); Chrome,Safari4+ */
/* background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); Opera 11.10+ */
/* background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); IE10+ */
/* background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); IE6-9 */

}

.intestazioneContainer .messaggio {
  font-size: 13pt;
  font-weight: bold;
  left: 10px;
  top: 5px;
  text-align: center;
  color: #CC0000;
}

.loginContainer {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 300px;
  border: solid 1px black;
  position: relative;
   background: white;
}

.loginContainer .message {
  bottom: 1px;
  color: red;
  position: absolute;
  right: 10px;
  text-align: right;
  z-index: 5;
  width: 385px;
}

.loginContainer .fieldsContainer {
  position: absolute;
  top: 35px;
  right: 0px;
  text-align: right;
  padding-right: 8px;
}

.fieldLabel {
  color: #666666;
  font-size: 12pt;
  font-weight: bold;
  vertical-align: top;
  font-variant: small-caps;
}

.loginContainer .fieldsContainer input {
  width: 176px;
  border: solid 1px #B3B3B3;
  margin-bottom: 4px;
}

.loginContainer .logoContainer {
  left: 10px;
  position: absolute;
  top: 7px;
  _top: 5px;
  z-index: 2;
}

.loginContainer .information .nameAndSecurity {
  font-size: 13pt;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 5px;
  text-align: right;
}

.loginContainer .information .licencing {
  bottom: 0px;
  font-size: 8pt;
  left: 0px;
  padding: 5px;
  position: absolute;
  z-index: 2;
}

.loginContainer .loginBar {
  height: 123px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
 /* background-image: url(../images/loginBarBackground.png); */
  background-repeat: repeat-x;
  background-position: top left;
}

.loginContainer .forgottenPassword {
  position: absolute;
  right: 10px;
  bottom: 100px;
}

.loginContainer .buttonContainer {
  position:absolute;
  right: 10px;
  bottom: 54px;

}

.loginContainer .invalidScheme {
  position:absolute;
  right: 10px;
  bottom: 54px;
  width: 364px !important;
  text-align: right;
}

.upgradeSystem, .passwordSent {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 300px;
  text-align: right;
}

.passwordSent {
  margin-top: 10px;
  width: 364px !important
}

.upgradeSystem input {
  margin-top: 4px;
}

.forgottenPasswordHeading {
  font-size: 13pt;
  font-weight: bold;
  position: absolute;
  right: 8px;
  top: 5px;
  text-align: right;
}

input[type="file"], input[type="submit"], input[type="button"] {

/* background-attachment:scroll; */
/* background-color:#4477AA; */
/* background-image:none; */
/* background-position:0 0; */
/* background-repeat:repeat; */
/* border-bottom-color:gray; */
/* border-top-color:gray; */
/* color:white;  */
/* height: 50; */
}

.loginContainer .logoRegioneContainer {
  left: 10px;
  position: absolute;
  top: 7px;
  _top: 0px;
  z-index: 2;
}



