@CHARSET "ISO-8859-1";


	/*.td_destro>input, .td_destro>select, .td_destro>textarea, .td_destro>span, .td_destro>button
	{
		position: relative;
		left: 25px;
	}
	*/
 
	
	.div_intestazione
	{
		position:relative;
		left: 35px;
	}
	
	.span_errore
	{
		 
		color:rgba(255,0,0,0.6);
		 
	}
	
	.schiarito
	{
		color: rgba(0,0,0,0.5);
	}
	
	table.details tr
	{
		height:30px;
	}
	
	/*classi aggiunte da angular per input non validi */
	.ng-invalid(.ng-touched) /*gli invalidi che sono stati almeno editati una volta*/
	{
		border-color : rgba(255,0,0,0.6);
	}
	
	 
 	 
	
