@CHARSET "ISO-8859-1";

body {
	margin:0; 
	padding:0; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font-family:times,serif;
	font-size:25px;
  	color:#000000; 
}
	
table{
	font-family:times, serif;
	font-size:18px;
	color:#000000; 
}
		
.buttonClass {
    display:none;
 }


input[type="text"] {
    font-family:times, serif;
	font-size:13px;
}


div.inizio {

	page-break-before: always;
}

div.fine {

	page-break-before: always;
}
span.NocheckedItem:before {
content: '\2610';
font-size:12pt;
font-weight: bold;
}
span.checkedItem:before {
content: '\2611';
font-size:12pt;
font-weight: bold;
}
