@CHARSET "ISO-8859-1";

@page { margin: 5px 5px 5px}

body {
	margin:0; 
	padding:0; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font-family:times,serif;
	font-size:13px;
  	color:#000000; 
}
	
table{
	font-family:times, serif;
	font-size:11px;
	color:#000000; 
}
		
.buttonClass {
    display:none;
 }


input[type="text"] {
    font-family:times, serif;
	font-size:11px;
}


div.inizio {

	page-break-before: always;
}

div.fine {

	page-break-before: always;
}
.boxIdDocumento {
	position: absolute;
	left: 100px;
	border: 0.5px solid black;
	width: 60px;
	height: 20px;
	margin-top: 30px;
	text-align: center;
	padding-top: 10px;
	font-size: 8px;
}
span.NocheckedItem:before {
content: '\2610';
font-size:12pt;
font-weight: bold;
}
span.checkedItem:before {
content: '\2611';
font-size:12pt;
font-weight: bold;
}
.boxOrigineDocumento {
	text-align: left;
	font-size: 9px;
}
