@CHARSET "ISO-8859-1";

tr.colorcell {
  background-color: #E8E8E8; 
  color: black;
}



.editField{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.editNoBottom{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color: none;
  border-bottom-style:solid;
}

.editBorder{
  background-color : #CCCCFF;
  border-style:solid;
  border-color:black;
}


.layout{
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.buttonClass {
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
span.NocheckedItem:before {
content: '\2610';
font-size:12pt;
font-weight: bold;
}
span.checkedItem:before {
content: '\2611';
font-size:12pt;
font-weight: bold;
}
