:root {
    --light-blue: #29bbff;
    --blue-regione: #00008b
}

.active {
    color: white;
    background-color: var(--blue-regione);
}

button,
[role=button],
[type=button] {
    cursor: pointer;
}

.btn {
    --primary-color: var(--blue-regione);
    --secondary-color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.ui-dialog-titlebar{
	background-color: #00008b !important;
	color: rgb(245, 245, 245) !important;
}

.ui-dialog-titlebar-close {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
  border: medium none;
}
.ui-dialog-titlebar-close:hover {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
}

.ui-dialog{
    box-shadow: 0 0 3px 5px rgba(0,0,0,0.1)
}


@media(max-width: 768px) {
    .ui-dialog {
        position: absolute !important;
        width: 85% !important;
        margin: auto;
    }
}