<!DOCTYPE html>
<script>
	var currTplName = "chpqst.html";
</script>
<html>
<head>
<meta charset="utf-8">


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<script src="../static/js/utils.js?v4"></script>

<script>

GLOBALTEXT = null;
GLOBALBLOB = null
function _h2p(pdfcontent) {
//-- usa ajax per inviare il contenuto html e per ricevere
//-- il pdf corrispondente simulando click su link

	console.log(pdfcontent);
	let url="/h2p";
	let xhr = new XMLHttpRequest();
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");

     xhr.responseType = "blob";
     xhr.onload = function (event) {
         var blob = xhr.response;
		 window.parent.parent.alert("Salvataggio effettuato!")
		 blob.text().then(text => {
			if(sessionStorage.getItem('tipoUtente') == 'ospite')
				sendFile(text, blob)
		 	else{
				 //salvo il testo e il blob in variabili globali per usarle in sendFile dopo la confirm
				GLOBALBLOB = blob;
				GLOBALTEXT = text;
				window.parent.parent.confirm("Vuoi anche scaricare la tua autovalutazione in formato pdf?", 'sendFile')
			}
		})
     };

	xhr.send('<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">' + pdfcontent);
}

function sendFile(t, b){
	if(b == null){
		t = GLOBALTEXT;
		b = GLOBALBLOB;
	}
	console.log("sendFile");
	var selectedCl = window.parent.parent.getCL().innerText;
	selectedCl = selectedCl.replace(" ", "_")
	var d = new Date().yyyymmdd(); //in utils.js
	var fileName = "Autovalutazione_"+selectedCl+"_"+d+".pdf";
	var link=document.createElement('a');
	link.href=window.URL.createObjectURL(b);
	link.download=fileName;
	link.click();
	GLOBALTEXT = null;
	GLOBALBLOB = null;
}



function h2p() {

	/*var numberOfChecked = $('input:radio:checked').length;
	var totalCheckboxes = $('input:radio:enabled').length / 2;*/

	var noRisp = "";

	jsonContent.forEach(function(d, i){
		$('#tr_'+d.N).removeClass('tr_hover');
		var q = d.N - 1;
		if($('input[name="q'+q+'"][data-risposta="SI"]:checked').length == 0 && $('input[name="q'+q+'"][data-risposta="NO"]:checked').length == 0 
			&& $('input[name="q'+q+'"][data-risposta="NO"]').is(':enabled') ) { //se non è selezionato nè si, nè no e non abilitato
				noRisp += d.N + ', '; 
				$('#tr_'+d.N).addClass('tr_hover');
		}
	})
	noRisp = noRisp.slice(0,-2);

	//if(numberOfChecked < totalCheckboxes){
	if(noRisp.length > 0){
		if(!isMobileView())
			window.parent.parent.alert("Riepilogo: impossibile salvare! Rispondere anche a tutte le domande evidenziate.");
		else 			
			window.parent.parent.alert(`Riepilogo: impossibile salvare! Rispondere anche a tutte le domande evidenziate.
								Scorrere le pagine e completare la compilazione.`);
		return;
	}
//-- trasforma il json che rappresenta la check list  
//-- in html table usando il div fisico #pdfdiv
		saveToDb(false);

		var content=jsonContent;
        //Convert JSON to HTML Table.
		
		var dvTable=document.getElementById("pdfdiv");
		
        var table = document.createElement("TABLE");
        table.border = "1";
		table.rules="all";
		
        table.Id = "tblcontent";

		var table2 = document.createElement("TABLE");
        table2.border = "1";
		table2.rules="all";
        table2.Id = "tblcontent";
		table2.style.marginBottom = "10px";
 
        //Get the count of columns.
        var columnCount = 6;
 
		var topHeader = table2.insertRow(-1);

		headerCell = document.createElement("TH");
		headerCell.innerHTML = "Macroarea";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);

		headerCell = document.createElement("TH");
		headerCell.innerHTML = "Aggregazione";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);

		headerCell = document.createElement("TH");
		headerCell.innerHTML = "Linea di attivita'";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);

		/*headerCell = document.createElement("TH");
		headerCell.innerHTML = "Checklist";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);*/

		headerCell = document.createElement("TH");
		headerCell.innerHTML = "Punteggio";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);

		headerCell = document.createElement("TH");
		headerCell.innerHTML = "Classe di rischio";
		headerCell.style.backgroundColor = '#00008b';
		headerCell.style.color = "white";
		topHeader.appendChild(headerCell);

		var topRow = table2.insertRow(-1);

		var topCell = document.createElement("TD");
		topCell.innerHTML = window.parent.parent.getFld("macro");
		topCell.style.color = "#00008b";
		topRow.appendChild(topCell);

		topCell = document.createElement("TD");
		topCell.innerHTML = window.parent.parent.getFld("aggre");
		topCell.style.color = "#00008b";
		topRow.appendChild(topCell);

		topCell = document.createElement("TD");
		topCell.innerHTML = window.parent.parent.getFld("linea");
		topCell.style.color = "#00008b";
		topRow.appendChild(topCell);

		/*topCell = document.createElement("TD");
		topCell.innerHTML = window.parent.parent.getCL().innerText;
		topRow.appendChild(topCell);*/

		topCell = document.createElement("TD");
		topCell.innerHTML = document.getElementById("tot").innerText;
		topCell.style.textAlign = "center";
		topCell.style.color = "#00008b";
		topRow.appendChild(topCell);

		var asteriscoOsa = "*";
		var testoOsa = "* La classe di rischio mostrata fa riferimento alla specifica linea d'attivita' autovalutata";
		if(sessionStorage.getItem("tipoUtente") != 'ospite'){
			asteriscoOsa = '*'
			testoOsa = "* La classe di rischio mostrata non tiene conto dello storico relativo alle schede già precedentemente compilate. Inoltre fa riferimento alla specifica linea d'attività autovalutata.";
		}

		topCell = document.createElement("TD");
		topCell.innerHTML = document.getElementById("rischio").innerText + asteriscoOsa;
		topCell.style.textAlign = "center";
		topCell.style.color = "#00008b";
		topRow.appendChild(topCell);

        //Add the header row.
        var row = table.insertRow(-1);
        for (var i = 1; i <= columnCount; i++) {
            var headerCell = document.createElement("TH");
			if(i > 1) //salto N
            	headerCell.innerHTML = Object.keys(content[0])[i];
			headerCell.style.backgroundColor = '#00008b';
			headerCell.style.color = "white";
			row.style.padding.top = "10px";
            row.appendChild(headerCell);
        }
 
        //Add the data rows.
		var domandaIndex = 0;
		var subDomandaIndex = 0;
		var subDomandaText = ""
		var oldDomanda = "";
        for (var i = 0; i < content.length; i++) {

			if(oldDomanda != content[i].Domanda){
				domandaIndex++;
				subDomandaIndex = 0;
				subDomandaText = "";
			}else{	
					subDomandaIndex++;
					subDomandaText = "."+subDomandaIndex;
			}

			oldDomanda = content[i].Domanda;

			row = table.insertRow(-1);
            cell = row.insertCell(-1);
            cell.innerHTML = domandaIndex + subDomandaText;
			cell.style.textAlign = "right";
			cell.style.color = "#00008b";

            //row = table.insertRow(-1);
            cell = row.insertCell(-1);
            cell.innerHTML = content[i].Capitolo;
			cell.style.color = "#00008b";

			cell = row.insertCell(-1);
            cell.innerHTML = content[i].Domanda;
			cell.style.color = "#00008b";

			cell = row.insertCell(-1);
            cell.innerHTML = content[i].SottoDomanda;
			cell.style.color = "#00008b";

			cell = row.insertCell(-1);
            cell.innerHTML = content[i].Punti_Risposta;
			cell.style.textAlign = "center";
			cell.style.color = "#00008b";

			cell = row.insertCell(-1);
            cell.innerHTML = content[i].Risposta;
			cell.style.textAlign = "center";
			cell.style.color = "#00008b";

        }


		var image = document.createElement('img')
		image.src = "https://autovalutazione.gisacampania.it/static/img/logo_regione.png";
		image.style.width = "200px";

		var autovalutazioneLabel = document.createElement("label");
		autovalutazioneLabel.innerText = "GISA AMBIENTE Autovalutazione";
		autovalutazioneLabel.style.fontWeight = "bold";
		autovalutazioneLabel.style.fontSize = "28px";
		autovalutazioneLabel.style.float = "right";

		var checklistLabel = document.createElement("label");
		checklistLabel.innerText = "Nome Checklist: " + window.parent.parent.getCL().innerText;
		checklistLabel.style.fontWeight = "bold";
		checklistLabel.style.fontSize = "20px";

		var options = {'year': 'numeric', 'month': '2-digit', 'day': '2-digit'};
		var date = new Date().toLocaleString('it-IT', options);

		var dataLabel = document.createElement("label");
		dataLabel.innerText = "Data autovalutazione: " + date;
		dataLabel.style.fontStyle = "italic";
		dataLabel.style.fontSize = "16px";
		dataLabel.style.float = "right";

		var testoOsaLabel = document.createElement("label");
		testoOsaLabel.innerText = testoOsa ;
		testoOsaLabel.style.fontStyle = "italic";
		testoOsaLabel.style.fontSize = "16px";
		testoOsaLabel.style.float = "right";
		testoOsaLabel.style.marginBottom = "10px";

 
        //Append the Table to the HTML DIV.
        dvTable.innerHTML = "";
		dvTable.appendChild(image);
		dvTable.appendChild(autovalutazioneLabel);
		dvTable.appendChild(document.createElement("br"));
		dvTable.appendChild(dataLabel);
		dvTable.appendChild(document.createElement("br"));
		dvTable.appendChild(table2);
		dvTable.appendChild(testoOsaLabel);
		dvTable.appendChild(document.createElement("br"));
		dvTable.appendChild(document.createElement("br"));
		dvTable.appendChild(checklistLabel);
        dvTable.appendChild(table);

		var divText = dvTable.innerHTML;
/*
		var myWindow = window.open();
		var wdoc = myWindow.document;
		wdoc.open();
		wdoc.write(divText);
		wdoc.close();
*/		
	_h2p(divText);
}

</script>
<title>ML10 CL</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="/static/js/FileSaver.js"></script>
<link rel="stylesheet" href="/static/css/utils.css" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">


<style>

.xs-text{
	font-size:0.8rem;
}
 
.chphdr{
  color: white;
  background-color: #00008b !important;
}

.active {
    color: #37a0e6;
	font-weight: bold;
    background-color: #f0e0a0  !important ;
}

div.sticky {
  position: sticky;
  padding: 5px;
  background-color: #00008b;
  border: 1px solid white;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 }
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
	from{ bottom:-100px; opacity:0 }
	to{ bottom:0; opacity:1 }
}

.tr_hover {
	background-color: #eeff00 !important; 
}

</style>

<style>
	.domanda {
		background-color: #b5b5b5;
	}

	.sottodomanda {
		background-color: #e7e7e7;
	}

	.text-bold {
		font-weight: bold;
	}

	#qst-table #stessa-comanda {
		display: block;
	}

	#qst-table #riferimento-domanda {
		display: none;
	}

	div.sticky-desktop {
		bottom: 0px !important;
	}

	div.sticky-pwa {
		bottom: 0px !important;
	}
	
	div.sticky-mobile {
		bottom: 0px !important;
	}

	.paginator {
		height: 30px;
		width: 100%;
		display: none;
		position: fixed;
		top: 0px;
		background-color: var(--blue-regione);
		color: white;
	}

	.paginatorElement {
		width: -moz-available;          /* WebKit-based browsers will ignore this. */
    	width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    	width: fill-available;
		text-align: center;
		padding: 0px;
		font-weight: bold;
	}

	@media(max-width: 768px) {
		.numero-domanda {
			font-weight: bold;
		}

		#qst-table tr {
			display: flex;
			flex-wrap: wrap;
		}

		table{
			margin-top: 30px !important;
		}

		#qst-table td {
			flex: 100% 1 0;
			text-align: center;
		}

		#qst-table thead {
			display: none;
		}

		#qst-table #stessa-comanda {
			display: none;
		}

		#qst-table #riferimento-domanda {
			display: block;
		}

		body {
			position: relative !important;
			margin-bottom: 5rem !important;
		}

		.paginator {
			display: flex !important;
		}
		/*div.sticky {
			bottom: 25px;
		}*/

		
	}
</style>
</head>
<script>
'use strict';

var jsonContent=[
 {{range $i, $qst := .Qsts_1 }} {{if gt $i 0}} , {{end}} {"i":{{$i}},"Id_Domanda": "{{$qst.Q_id}}","N":{{$qst.Row_Number}}, "Capitolo": "{{$qst.C_desc}}", "Domanda":"{{$qst.Domanda}}", "SottoDomanda":"{{$qst.SottoDomanda}}","Punti_Risposta":{{$qst.Punti_Risposta}},"Risposta":"{{$qst.Risposta}}","Id_Cl":{{$qst.Id_Cl}}}
 {{end}}
];
console.log(jsonContent);


document.addEventListener("DOMContentLoaded", function(){
	var tot = 0;
    jsonContent.forEach(function(d){
		if(d.Punti_Risposta != 0){
			tot = tot + d.Punti_Risposta;
		}
		document.getElementById("tot").innerText=String(tot)//.padStart(3, '0');
		if(tot <= 250){
			document.getElementById("rischio").innerText= "BASSA";
			document.getElementById("rischio").style.color = "lawngreen";
		}
		else if (tot <= 450){
			document.getElementById("rischio").innerText= "MEDIA";
			document.getElementById("rischio").style.color = "yellow";
		}else{
			document.getElementById("rischio").innerText= "ALTA";
			document.getElementById("rischio").style.color = "red";
		}
	})
	updMancanti();
});



function exportjson() {

	var j=JSON.stringify(jsonContent, null, 2);
	var ar=[];
	ar.push(j);
	var blob = new Blob(ar, {type: "text/plain;charset=utf-8"});

	if (window.parent.parent.confirm(ar)) {
		saveAs(blob, "json.txt");
	}
}


function saveToDb(showAlert) {
	document.getElementById("loader").style.display = "";	
	setTimeout(function(){
		console.log(window.parent.parent.lastLda);
		console.log(jsonContent);
		let xhr = new XMLHttpRequest();
		xhr.open("POST", "/save_cl", false);
		xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
		xhr.onload = function (event) {
			console.log(event);
			console.log(xhr.response);
			if(showAlert)
				window.parent.parent.alert("Salvataggio effettuato!");
			//azzera();
			document.getElementById("loader").style.display = "none";	
			//parent.document.getElementById('chpqst').contentWindow.location.reload(true);
		};
		xhr.send(JSON.stringify(jsonContent));
	},1)
	

}

function azzera(){
	//if (confirm("Azzerare la simulazione corrente per la checklist corrente?", 'azzera')) {
		let xhr = new XMLHttpRequest();
		xhr.open("POST", "/delete_cl", false);
		xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
		xhr.onload = function (event) {
			console.log(event);
			console.log(xhr.response);
			parent.document.getElementById('chpqst').contentWindow.location.reload(true);
		};
		xhr.send(JSON.stringify(jsonContent)); 
	//}
}

function updJsonContent(q_id, currpv, risposta) {
	//--aggiorna oggetto json che rappresenta la cl 
	//--al record q_id, punteggio (currpv) e risposta
	
	for(let i=0; i<jsonContent.length; i++) {

		if (jsonContent[i].Id_Domanda==q_id) {  // trovato il record
			// in caso di punteggio==-1 svuotamento di punti_risposta e risposta
			//jsonContent[i].Punti_Risposta = parseInt(currpv)>=0 ? currpv : "";
			jsonContent[i].Punti_Risposta = parseInt(currpv)>=0 ? +currpv : 0;

			jsonContent[i].Risposta = parseInt(currpv)>=0 ? risposta : "";
			return;
		}
	}
}

function switchSD(t) { 

//--aggiorna stato sottodomande
  
  var myid=t.dataset.id;
  var d_parent = 'input[data-idparent="' + myid +'"]';
  var sds = document.querySelectorAll(d_parent);  //tutte le sottomande hanno idparent==id  riga corrente 
    
  var rbAr=document.getElementsByName(t.name);  //current radiobutton array  
  
  if (rbAr[0].checked) {//SI
	for (let i=0; i<sds.length; i++) {    //abilita sottodomande
		//console.log("enabling: " + sds[i].name);
		sds[i].disabled=false;
	}
  } else { //disabilita sottodomande, rendi not active, azzera check, sottrai punteggi e  aggiorna json obj
	for (let i=0; i<sds.length; i++) {
		if  (sds[i].checked) {
		
			//set rb not active
			sds[i].parentElement.classList.remove("active");
			
			//set rb not checked
			sds[i].checked = false;
			
			// upd tot
			let p=parseInt(sds[i].value);
			updTot(-p);

			// upd json record
			updJsonContent(sds[i].dataset.q_id, -1, "");
		}
		//disable row
		sds[i].disabled=true;

		const nRow = parseInt(sds[i].name.substring(1)) + 1;
  		$('#tr_'+nRow).removeClass('tr_hover');
	}  
  }
  updMancanti();							

}

function updMancanti(){
	var replied = 0;
	var toReply = 0;
	$('input[data-risposta="SI"]').each(function(i){
		if(!$( this )[0].disabled)
			toReply++
	})
	$('input[data-risposta="SI"]').each(function(i){
		if($( this )[0].checked)
			replied++;
	})
	$('input[data-risposta="NO"]').each(function(i){
		if($( this )[0].checked)
			replied++;
	})
	document.getElementById("mancanti").innerText=String(toReply - replied)//.padStart(3, '0');
}

function updTot(v) {
//--aggiorna il campo punteggio (span #tot)

	var i_tot=parseInt(document.getElementById("tot").innerText); //totale punteggio
	var new_tot=i_tot + v;
	document.getElementById("tot").innerText=String(new_tot)//.padStart(3, '0');
	if(new_tot <= 250){
		document.getElementById("rischio").innerText= "BASSA";
		document.getElementById("rischio").style.color = "lawngreen";
	}
	else if (new_tot <= 450){
		document.getElementById("rischio").innerText= "MEDIA";
		document.getElementById("rischio").style.color = "yellow";
	}else{
		document.getElementById("rischio").innerText= "ALTA";
		document.getElementById("rischio").style.color = "red";
	}

	
}

function upState(t) {  
//-- aggiorna stato lista in particolare:
//--aggiorna totale punteggio
//--aggiorna rb attivo domanda corrente 
//--aggiorna stato sottodomande
//--aggiorna json obj

  const nRow = parseInt(t.name.substring(1)) + 1;
  $('#tr_'+nRow).removeClass('tr_hover');

  var rbAr=document.getElementsByName(t.name);  //current radiobutton array
  
  var i_currpv=parseInt(t.value)  //punteggio correntea
  
  updJsonContent(t.dataset.q_id, i_currpv, t.dataset.risposta) //aggiorna record corrispondente in json obj

  if (t.dataset.sottodomanda !== 'SI') { //non è una sottodomanda
	switchSD(t); // cambia stato alle eventuali sottodomande
  }

  for (let i=0; i<rbAr.length; i++) {  //poll radio button array (SI, NO)
	if (rbAr[i].parentElement.classList.contains("active")) { // se il rb-i è attivo...
		if(rbAr[i]!=t) { //... e diverso da quello corrente... 
			rbAr[i].parentElement.classList.remove("active"); //...lo rende non attivo 
			let i_oldv=parseInt(rbAr[i].value);                 //  e sottrae il suo valore...   
			updTot(-i_oldv);                                      // al tot
			updTot(i_currpv);									// e aggiunge il nuovo
			t.parentElement.classList.add("active");
			return;
		} else {   //risulta già selezionato il rb clickato...
			return;// niente altro da fare
		}
    }
  }
  // seleziona il radiob. corrente e aggiunge punti a tot nel caso in cui nessuno dei due era selezionato
	updTot(i_currpv);		
	updMancanti();							
	t.parentElement.classList.add("active");  
}



</script>
<body>
<div  class="table-responsive " id="qst-table">
<div id="loader" class="loader" style="display: none;"></div>
<div class="paginator">
	<button class="paginatorElement btn btn-outline-light btn-sm" onclick="changePage(-1)" disabled id="pagPrec" style="border-color: white;">&#8249;</button>
	<div  class="paginatorElement" id="n-capitolo"></div>
	<button  class="paginatorElement btn btn-outline-light btn-sm" onclick="changePage(1)" id="pagSucc"  style="border-color: white;">&#8250;</button>
</div>
  <table class="table table-bordered table-sm table-condensed">
        
    <thead>
      <tr>
        <th width="3%" class="small font-weight-bold"></th>
        <th width="43%" class="small font-weight-bold">Domanda</th>
        <th width="40%" class="small font-weight-bold">Sottodomanda</th>
        <th width="7%" class="small font-weight-bold">&nbsp;</th>
        <th width="7%" class="small font-weight-bold">&nbsp;</th>

      </tr>
    </thead>

    <tbody>
  {{$chp:=""}}  {{$dprec:=""}}  {{$idparent:=""}}  {{$rprec:=""}} {{$chpNum := 0}}
  {{range $i, $qst := .Qsts_1 }}

  	{{ if eq $qst.SottoDomanda "-" }}
  		{{$rprec = $qst.Risposta}} 	{{/* memorizzo la risposta quando cambia la domanda principale (se NO disabilito il radiobutton). */}}
	{{end}}

	{{ if ne $chp  $qst.C_desc }} {{$chp = $qst.C_desc}}
		<tr  row-number="{{$i}}"> <td class="text-center chphdr" colspan="5"> {{$qst.C_desc}}</td>  </tr>	<!-- capitolo -->
	{{end}}

		<tr id="tr_{{$qst.Row_Number}}" {{ if ne $dprec $qst.Domanda }} class="domanda" {{else}} class="sottodomanda" {{end}}  row-number="{{$i}}">
			<!-- <td class="small">{{$qst.Row_Number}}</td> -->
			<td class="small numero-domanda"></td>
			<td class="small {{ if eq $dprec $qst.Domanda }} font-weight-light font-italic {{end}}">
			{{ if ne $dprec $qst.Domanda }} {{/* una sottodomanda ha la caratteristica di avere la stessa domanda della riga prec. */}}
				{{ $qst.Domanda }}  <!-- il testo della domanda viene riportato solo per le non-sottodomande -->
			{{else}}
				<span id="stessa-comanda">
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lsquo; &lsquo;
				</span>
				<!-- <span id="riferimento-domanda" class="text-bold">
					Rif. Domanda: {{ $qst.Domanda }}
				</span> -->
			{{end}}
			</td>
			<td class="small">{{ $qst.SottoDomanda }}</td>
			<td class="small xs-text text-center {{ if eq "SI" $qst.Risposta }} active {{end}}" >
				
					<input onclick="upState(this)" type="radio" name="q{{$i}}" value="{{ $qst.Punti_si }}" data-q_id="{{$qst.Q_id}}"  data-risposta="SI" 
					{{ if eq $dprec $qst.Domanda }} {{/* una sottodomanda ha la caratteristica di avere la stessa domanda della riga prec. */}}
					{{ if ne $qst.SottoDomanda "" }}
						{{ if ne "SI" $rprec }}
							disabled  {{/* se è una sottodomanda e la precedente domanda non era sì disabilito. */}}
						{{end}}
					{{end}}
					data-idparent='{{ $idparent }}' data-sottodomanda='SI' 
					{{else}} 
						{{$idparent = $i}} data-id="{{$i}}" {{/* questa riga è una domanda: aggiornamento idparent solo sul "SI"  */}}
					{{end}}
					{{ if eq "SI" $qst.Risposta }}
						checked="checked"
					{{end}}
					 > <label> SI: {{$qst.Punti_si|printf "%03d"}}
				</label>
			</td>
			<td class="small xs-text text-center {{ if eq "NO" $qst.Risposta }} active {{end}}">
				
					<input onclick="upState(this);" type="radio" name="q{{$i}}" value="{{ $qst.Punti_no }}" data-q_id="{{$qst.Q_id}}" data-risposta="NO"
					{{ if eq $dprec $qst.Domanda }} {{/* una sottodomanda ha la caratteristica di avere la stessa domanda della riga prec. */}}
					{{ if ne $qst.SottoDomanda "" }}
						{{ if ne "SI" $rprec }}
							disabled  {{/* se è una sottodomanda e la precedente domanda non era sì disabilito. */}}
						{{end}}
					{{end}}
					data-idparent='{{ $idparent }}' data-sottodomanda='SI' 
					{{else}} 
						data-id="{{$i}}" 
					{{end}}
					{{ if eq "NO" $qst.Risposta }}
						checked="checked"
					{{end}}
					> <label> NO: {{$qst.Punti_no|printf "%03d"}}
				</label>
			</td>
		</tr>
	{{$dprec = $qst.Domanda}} 	

 {{end}}
	</tbody>
	
	</table>
</div>
<script>

	window.parent.document.getElementById("mac-container").style.display = "none"
	window.parent.document.getElementById("agg-container").style.display = "none"
	window.parent.document.getElementById("lda-container").style.display = "none"

	window.parent.document.getElementById("back-button").style.display = "initial"


	let counter = 1, index = 1;
	const domande = document.querySelectorAll('.domanda');
	domande.forEach(d => {
		counter = 1;
		let numDomanda = d.querySelector('.numero-domanda');
		numDomanda.textContent = index;
		let next = d.nextElementSibling;
		while(next && next.classList.contains('sottodomanda')) {
			let numSottodomanda = next.querySelector('.numero-domanda');
			numSottodomanda.textContent = `${index}.${counter}`;
			counter++;
			next = next.nextElementSibling;
		}
		index++;
	})
</script>

<div class="sticky text-center" id="sticky-content">
	{{if eq .UserId 1}}
	<!--solo admin-->
	<button type="button" class="btn btn-outline-light btn-sm" onclick="exportjson()">Esporta checklist compilata in
		JSON</button>
	{{end}}
	{{if lt .UserId 0}}
	<button type="button" class="btn btn-outline-light btn-sm" onclick="window.parent.parent.confirm('Sei di sicuro di salvare e scaricare l\'autovalutazione in formato PDF?', 'h2p')"
		style="color:white; border-color: white;">Salva definitivo</button>
	{{end}}
	{{if gt .UserId 0}}
	<button type="button" class="btn btn-outline-light btn-sm" onclick="window.parent.parent.confirm('Vuoi salvare in GISA la tua autovalutazione?', 'h2p')"
		style="color:white; border-color: white;">Salva definitivo</button>
	<!--mostro il bottone salva solo agli utenti registrati id>0-->
	<button type="button" class="btn btn-outline-light btn-sm" onclick="saveToDb(true)"
		style="color:white; border-color: white;">Salva temporaneo </button>
	{{end}}
	<button type="button" class="btn btn-outline-light btn-sm" onclick="window.parent.parent.confirm('Sei sicuro di voler deselezionare tutte le risposte effettuate?', 'azzera')"
		style="color:white; border-color: white;">Reset</button>
	<div class="text-right" style="color: white;  border-color: white;">Risposte mancanti: &nbsp; <span
			id="mancanti" class=" badge badge-info" style="color:white; padding:0; padding-right: 20px;">0</span>&nbsp;
	Punteggio: &nbsp; <span
				id="tot" class=" badge badge-info" style="color:white; padding:0;">0</span>&nbsp;
		
	</div>
	<div class="text-right" style="color: white;  border-color: white;">Classe di rischio: &nbsp; 
		<span id="rischio" class=" badge badge-info" style="color:lawngreen; padding:0; padding-right: 20px;">BASSA</span>
	
</div>
</div>

<script>
	const mainOut = window.parent.parent.document.getElementById('mainOut');
	const chpqst = mainOut.contentDocument.getElementById('chpqst');
	const sticky = chpqst.contentDocument.getElementById('sticky-content');

	//setStickyPosition();

	var pagina = 0;
	const maxPagina = Math.ceil(jsonContent.length / 20);
	document.getElementById("n-capitolo").innerText = "Pag. 1 di " + maxPagina

	function aggiornaPagina(){
		let elements = document.getElementsByTagName("tr");
			for(let i=0; i < elements.length; i++){
				if(Math.floor(elements[i].getAttribute("row-number")/20) != pagina)
					elements[i].style.display = "none";
				else 
					elements[i].style.display = "";
			}
		window.scrollTo(0,0);
	}

	function changePage(add){
		pagina += add;
		console.log(pagina);
		if(pagina < 0){
			pagina = 0;
			return;
		}else if(pagina >= maxPagina){
			pagina = maxPagina;
			return;
		}
		document.getElementById("pagPrec").disabled = true;
		document.getElementById("pagSucc").disabled = true;
		if(pagina > 0)
			document.getElementById("pagPrec").disabled = false;
		if(pagina != maxPagina -1)
			document.getElementById("pagSucc").disabled = false;

		aggiornaPagina();
		document.getElementById("n-capitolo").innerText = "Pag. " + (pagina+1) +" di " + maxPagina

	}

	function isMobileView() {
		console.log(window.parent.parent.innerWidth)
		return window.parent.parent.innerWidth <= 768;
	}

	function setStickyPosition() {
		let offsetBottom;
		if(isMobileView())
			offsetBottom = 0;
		else
			offsetBottom = 0;
		sticky.style.bottom = `calc(100% - ${window.parent.parent.innerHeight - mainOut.offsetTop - chpqst.offsetTop - offsetBottom}px)`;
	}

	//window.parent.parent.addEventListener('resize', () => setStickyPosition());
	//chpqst.contentDocument.addEventListener('scroll', () => setStickyPosition());

	onload = function(){
		if (window.matchMedia('(display-mode: standalone)').matches && isMobileView()) { //wpa
			window.document.getElementById('sticky-content').classList.add("sticky-pwa");
		} else if(isMobileView()) {
			window.document.getElementById('sticky-content').classList.add("sticky-mobile");
		} else {
			window.document.getElementById('sticky-content').classList.add("sticky-desktop");
		}

		if(isMobileView()){
			aggiornaPagina()
		}

	}

	let touchstartX = 0
	let touchendX = 0

	let touchstartY = 0
	let touchendY = 0
    
function checkDirection() {
  if (touchendX < touchstartX && (Math.abs(touchendY - touchstartY) < 30) && (Math.abs(touchendX - touchstartX) > 40)) changePage(1)
  if (touchendX > touchstartX && (Math.abs(touchendY - touchstartY) < 30) && (Math.abs(touchendX - touchstartX) > 40)) changePage(-1)
}

document.addEventListener('touchstart', e => {
  touchstartX = e.changedTouches[0].screenX
  touchstartY = e.changedTouches[0].screenY
})

document.addEventListener('touchend', e => {
  touchendX = e.changedTouches[0].screenX
  touchendY = e.changedTouches[0].screenY
  checkDirection()
})

</script>


<div id="pdfdiv" style="display: none;"></div>
</body>
</html>
 
