<!DOCTYPE html>
<script>
	var currTplName = "lda.html";
</script>
<html>
<head>
<meta charset="utf-8">
<title>LDA</title>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>
.active {
  color: #37a0e6;
  background-color: #f0e0a0 !important;
}

a {
  cursor: pointer;
  color: #007bff !important;
}

a:hover{
  text-decoration: underline !important;
}
 
</style>
</head>
<script>  
var last;
function setActive(t) {
  if (last!=null) {
	last.classList.remove("active");
  }
  last=t;
  last.classList.add("active");
}

function getCl(idLda, codeLda, descrLda){
  //console.log(`/get_cls_pre/${idLda}`);
  $.getJSON(`/get_cls_pre/${idLda}`, function( data ) {

	console.log("get_cls_pre  data: " + data );
    if (data == 0) {//numero checklist presenti nella lda
		//window.parent.parent.alert(`data uguale a zero :data=${data}`);
      window.parent.parent.alert("CHECKLIST AL MOMENTO NON DISPONIBILE PERCHE' IN AGGIORNAMENTO");
    } else {
      window.parent.parent.setFld('linea', ` ${codeLda}  - ${descrLda} `);
      if(window.parent.parent.innerWidth <= 768){
        window.open(`/get_cls23/${idLda}`, "cl");
        //window.parent.parent.document.getElementById("cl-container").style.display = "";
        window.parent.parent.customNavigator.goForward()
      } else {
		console.log(`going to /get_cls23/${idLda}`);
        window.open(`/get_cls23/${idLda}`, "cl");
        //window.open(`/get_cls/${idLda}`, "_parent");
      }
    }
  })

}

function clearLogicalChild(iName) {

var iframe = window.parent.document.getElementById(iName);
var html = "";

iframe.contentWindow.document.open();
iframe.contentWindow.document.write(html);
iframe.contentWindow.document.close();
}

clearLogicalChild('cl');
clearLogicalChild('chpqst');
window.parent.parent.setFld('linea', '')
window.parent.parent.setCLFooter('')

</script>

<body>
  <table class="table table-striped table-bordered table-sm table-condensed">

    <thead>
      <tr>
        <th>Livello 3</th>
      </tr>
    </thead>

    <tbody>
 {{range $i, $lda :=   .Ldas }}
	<tr onclick="setActive(this);">
        <td class="small"><a  onclick="getCl('{{ $lda.L_id }}', '{{ $lda.L_code }}', '{{ $lda.L_desc }}')" ><strong>{{ $lda.L_code }}</strong> - {{ $lda.L_desc }}</a></td>
    </tr>
 {{end}}
	</tbody>
	</table>
</div>

</body>
</html>
