<html>
<style>

	.center {
	  position: relative;
	  text-align: center;
	  margin: auto;
	  transform: translateY(60%);
	  width: 30%;

	}

</style>

<body>
<script> 
/*
	url=window.location.href;
	//alert(url);
	if (-1 == url.indexOf("autovalutazione"))  {
		location="/gisarpac"
	} else {
		location="/index"
	}
*/
</script>


<div class="center"> 
<table ><tr>
		<!--<td style="padding: 25px;"><a href="http://156.54.11.15:8080/moduloSpidAmb/index.html">Modulo Registrazione</a></td>-->
		<td style="padding: 25px;"><a href="https://gisaambiente-coll.regione.campania.it/gisarpac/"><img src="/static/img/gisa arpac_button.jpg"></a></td>
		<td style="padding: 25px;"><a href="/index"><img src="/static/img/autovalutazione arpac_button.jpg"></a></td>
	</tr></table>



</div>
</body>
</html>
