
.boxOrigineDocumento {
 	left: 5px;
	width: 300px;
	height: 15px;
	margin-top: 1px;
	text-align: left;
	padding-top: 1px;
	font-size: 8px;
	display: none;
	}
.boxIdDocumento {
	left: 5px;
	border: 0.5px solid black;
	width: 100px;
	height: 30px;
	margin-top: 1px;
	text-align: center;
	padding-top: 1px;
	font-size: 8px;
	display: none;
}

.header {
padding: 5px;
margin: 10px;
}

table {
border: 1px solid black;
border-collapse: collapse;
width: 100%;
}

table, td, th {
border: 1px solid black;
}

table th {
background-color: #F5F5F5;
font-weight: bold;
}

.capitolo {
background-color: #e5e5ff;
font-weight: bold;
}

.editField{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.layout{
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
 text-decoration:underline
  }
