@page { margin: 5px 5px 5px}
body {
    font-size: 15px;
}
DIV[class="Sect"] {
 text-align:justify;
 margin-bottom:0px;
 margin-top:0px;
 margin-right:0px;
 text-indent:0px;
 direction:ltr
}

span.checkedItem{
font-size: 15px;
}

span.checkedItem:before {
content: '[x]';
font-size:13px;
font-weight: bold;
}

span.NocheckedItem:before {
content: '[  ]';
font-size:13px;
font-weight: bold;
}

TABLE
{
border-collapse:collapse;
}

div.fine {
	page-break-after: always;
}

TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
    color: #000000;
    font-family: 'serif', 'Times New Roman', serif;
    font-size: 15px; 
    text-align:justify;
}

TD, TH{
border:1px solid black;
}

P.main {
 font-family:'serif', 'Times New Roman'; 
 font-size:15px; 
 font-style:normal;
 text-align:justify;
}

.textDim{
  width: 600px; height: 101px;
  background: #FFFFFF;
  border-style: solid;
  border-color: #000000;
}

.textDim2{
  width: 600px; height: 101px;
  background: #FFFFFF;
  border-style: solid;
  border-color: #000000;
  resize:none;
}

.editField{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.layout{
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
 text-decoration:underline
  }
P.underline{text-decoration:underline;}
h3 {text-decoration:underline; text-align:center;}


IMG {
 text-align:left;
 vertical-align:top;
 margin-bottom:0px;
 margin-top:0px;
 margin-right:0px;
 margin-left:0px;
 direction:ltr
}

.buttonClass {
	background-color:#d5cfd6;
	border-radius:6px;
	border:1px solid #ffffff;
	display:none;
	color:#000000;
    font-family: serif','Times New Roman;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.boxIdDocumento {
	position: relative;
	top: 1px;
	left: 5px;
	border: 0.5px solid black;
	width: 60px;
	height: 20px;
	margin-top: 0px;
	text-align: center;
	padding-top: 10px;
	font-size: 8px;
}
.boxOrigineDocumento {
	text-align: left;
	font-size: 9px;
}
