
DIV[class="Sect"] {
 text-align:justify;
 margin-bottom:0px;
 margin-top:0px;
 margin-right:0px;
 text-indent:0px;
 direction:ltr
}

span.checkedItem{
font-size: 12pt;
}

span.checkedItem:before {
content: '\2611';
font-size:18pt;
font-weight: bold;
}

span.NocheckedItem:before {
content: '\2610';
font-size:18pt;
font-weight: bold;
}

TABLE
{
border-collapse:collapse;
}

TABLE, TD, TH, LI, P, UL, OL, TEXTAREA, INPUT, SELECT, A {
    color: #000000;
    font-family: 'serif', 'Times New Roman', serif;
    font-size: 12pt; 
    text-align:justify;  
}


TD, TH{
border:1px solid black;
}

P.main {
 font-family:'serif', 'Times New Roman'; 
 font-size:12pt; 
 font-style:normal;
 text-align:justify;
}

.textDim{
  width: 1000px; height: 200px;
  background: #FFFFFF;
  border-style: solid;
  border-color: #000000;
  resize:none;
  overflow:hidden;
}

.textDim2{
  width: 1000px; height: 200px;
  background: #FFFFFF;
  border-style: solid;
  border-color: #000000;
  resize:none;
  overflow:hidden;
}

.editField{
  background-color : #CCCCFF;
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
}

.layout{
  border-top-style:none;
  border-left: none;
  border-right: none;
  border-bottom-color:#000000;
  border-bottom-style:solid;
  
}
P.underline{text-decoration:underline;}
h3 {text-decoration:underline; text-align:center;}


IMG {
 text-align:left;
 vertical-align:top;
 margin-bottom:0px;
 margin-top:0px;
 margin-right:0px;
 margin-left:0px;
 direction:ltr
}

.buttonClass {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#d5cfd6;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

