label.invalid {
    background-image : url(../images/icon-error.gif);
    background-position : left center;
    background-repeat : no-repeat;
    color : #ff0000;
  }


#system-message dt {
    font-weight: bold;
  }


#system-message dd {
    margin: 0;
    font-weight: bold;
    text-indent: 0px;
    background:#fff;
    padding:0;
  }


#system-message dd ul {
    color: #93246F;
    margin-bottom: 10px;
    list-style: none;
    padding: 0px;
    border-top: 3px solid #93246F;
    border-bottom: 3px solid #93246F;
  }

/* System Standard Messages */

#system-message dt.message {
    display: none;
  }


#system-message dd.message {
  }


#system-message dd.message ul {
    background: #F2E3ED;
  }

/* System Error Messages */

#system-message dt.error {
    display: none;
  }


#system-message dd.error {
  }


#system-message dd.error ul {
    color: #93246F;
    background: #F2E3ED ;
    border-top: 3px solid #93246F;
    border-bottom: 3px solid #93246F;
    margin:0;
  }

/* System Notice Messages */

#system-message dt.notice {
    display: none;
  }


#system-message dd.notice {
  }


#system-message dd.notice ul {
    color: #93246F;
    background: #F2E3ED;
    border-top: 3px solid #93246F;
    border-bottom: 3px solid #93246F;
  }


#stamp_us{

text-align:center;

}

#titoloDettaglioTrasferimento { display: none; }
#footerDettaglioTrasferimento1 { display: none; }
#footerDettaglioTrasferimento2 { display: none; }
#footerDettaglioTrasferimento3 { display: none; }
#footerDettaglioTrasferimento4 { display: none; }
#footerDettaglioTrasferimento5 { display: none; }
#footerDettaglioTrasferimento6 { display: none; }

@media print
{
	#non-printable { display: block; }
    #titoloDettaglioTrasferimento  { display: block; }
    #footerDettaglioTrasferimento1 { display: block; }
	#footerDettaglioTrasferimento2 { display: block; }
	#footerDettaglioTrasferimento3 { display: block; }
	#footerDettaglioTrasferimento4 { display: block; }
	#footerDettaglioTrasferimento5 { display: block; }
	#footerDettaglioTrasferimento6 { display: block; }
}